// @import "modules/reset";
// Color Palette
$c1: #000000;
$c2: #fff;
$c4: #000000;
$c7: #5B6A73;
$c5: #110C20;
$c3: #9DA9B0;
$c6: #607078;




// Reset CSS:

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: $c5;
  color: $c1;
  font-family: 'Dekko', cursive;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: auto;
  color: $c1;
}
//
// Global grid settings
//
$cols: 12;
$width-base: (100%/$cols);

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  // padding: 0 0.5rem;
  background-color: $c3;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

[class*='col-'] {
  width: 100%;
  min-height: 1px;
}
//
// SMARTPHONE MEDIUM (min 480px)
//
@media only screen and (min-width: 480px) {
   @for $i from 1 through $cols{
    .col-#{$i} {
      width: $width-base * $i;
    }
  }
}
//
// Sections

section.dashboard {
  .title {
    padding: 1rem 0.5rem;
    background-color: $c6;

    h1 {
      font-size: 3rem;
    }
  }

  .subtitle {
    padding: 1rem 0.5rem;
    background-color: $c6;

    h2 {
      font-size: 1.6rem;
    }
  }

  form {
    padding: 1rem 0 0;

    span {
      padding: 0.5rem 0;
      display: block;
      font-size: 1.1rem;
    }

    .inner > div {
      flex-grow: 1;
      padding: 0 0.5rem;

      button,
      select {
        width: 100%;
        height: 2rem;
      }
    }
  }
}

section.board {
  .container {
    display: flex;
    justify-content: center;
    padding: 4rem 0.5rem;

    .row {
      width: 40rem;
      box-shadow: 0 5px 23px 0 rgba(50, 50, 50, 0.82);
      z-index: 999;

      .quote p {
        font-size: 1.5rem;
        padding: 1rem;
        line-height: 2rem;

        span {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      .author h3 {
        padding: 1rem;
        font-weight: bold;
        text-align: right;
      }
    }
  }
}

section.footer {
  .container {
    background-color: $c7;
    color: $c2;
    font-weight: bold;

    .row {
      align-items: center;
      text-align: center;

      & > div {
        padding: 0.5rem 0;
      }

      .social_media {
        a {
          display: inline-block;
          padding: 0.2rem;
        }

        .social_icon {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
          background-position: center;
          background-size: 1.5em 1.5em;
          background-repeat: no-repeat;
        }

        .google {
          /*"Google plus logo" designed by Glypho from Flaticon*/
          background-image: url('../dist/images/googleplus.png');
        }

        .facebook {
          /*"Facebook logo" designed by Glypho from Flaticon*/
          background-image: url('../dist/images/facebook.png');
        }

        .twitter {
          /*"Twitter icon" designed by Glypho from Flaticon*/
          background-image: url('../dist/images/twitter.png');
        }

        .pinterest {
          /*"Pinterest logo" designed by Icomoon Free 2 from Flaticon*/
          background-image: url('../dist/images/pinterest.png');
        }
      }

      .title {}

      .author {
        a {
          color: $c2;
        }
      }
    }
  }
}

* {
  // Border Test
  // border: 1px solid #AD3F3F;
}
